.bottom-form {
  padding-top: 200px;
  padding-bottom: 17.4375rem;

  @media (max-width: 1320px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @media (max-width: 740px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  @media (max-width: 82.5rem) {
    flex-direction: column-reverse;
    align-items: start;
    gap: 11px;
  }

  .rigth-content {
    max-width: 308px;
    width: 100%;

    @media (max-width: 82.5rem) {
      max-width: none;
    }

    .form-item {
      position: relative;
      z-index: 1;

      .form-content {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;

        .bottom-text {
          margin-top: -5px;

          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 14.65px;
            letter-spacing: 0%;
          }

          .underline {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .left-content {
    margin-top: -192px;

    @media (max-width: 82.5rem) {
      margin-top: 0;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 0;

      .frame-content {
        position: relative;
        min-width: 322px;

        @media (max-width: 82.5rem) {
          min-width: auto;
        }

        .frame-context {
          display: flex;
          flex-direction: column;
          gap: 20px;
          min-width: 322px;
          position: absolute;
          right: -100px;
          top: -25px;
          z-index: 1;

          @media (max-width: 82.5rem) {
            position: initial;
          }

          @media (max-width: 740px) {
            min-width: auto;
          }
        }

        .frame-text {
          background-image: url("/images/frame-big.png");
          background-repeat: no-repeat;
          padding: 20px;
          min-width: 315px;
          width: 100%;
          height: 83px;
          font-family: "DISPLAYED";
          font-weight: 400;
          font-size: 18px;
          line-height: 21.24px;
          letter-spacing: 0%;
          color: $blue;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          @media (max-width: 740px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            min-width: 205px;
            height: 52px;
            padding: 14px 9px;
          }
        }
      }
    }

    .building-content {
      position: relative;

      img {
        min-width: 600px;

        @media (max-width: 82.5rem) {
          min-width: auto;
        }
      }
    }
  }
}

.download-dock {
  padding-top: 200px;

  @media (max-width: 1320px) {
    padding-top: 150px;
  }

  @media (max-width: 740px) {
    padding-top: 64px;
    .h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 110.00000000000001%;
      letter-spacing: 0%;
    }
  }

  .frame-context {
    right: -221px !important;
    top: 0px !important;
  }

  .frame-text {
    background-image: url("/images/frame-small.png") !important;
    min-width: 215px !important;
    height: 62px !important;
    display: flex;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 740px) {
      min-width: 140px !important;
      max-width: 140px !important;
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-wrap: nowrap;
      height: 38px !important;
      padding: 8px 15px !important;
    }
  }
}
