.container.line-container
    .rigth-line-big
    .center-line-big
    .left-line-big
section.services 
    .services-container 
        .container 
            .services-title(data-aos="fade-right" data-aos-delay="200") 
                .line-title 
                .h4 Наши Услуги
            .services-content 
                .left 
                    .text-title(data-aos="fade-right" data-aos-delay="200")
                        .text-larg Мы специализируемся на разработке проектов зданий и инженерных сооружений в полном соответствии с требованиями законодательства. 
                        .text-larg Мы готовим, как полный комплекс проектной документации, так и отдельные разделы проектной документации.
                    .faq-list(data-aos="fade-up" data-aos-delay="800") 
                        .faq 
                            .faq-header 
                                .h5 Смета на строительство
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Мы готовим всесторонне проработанную техническую документацию  для строительства. Наша команда разрабатывает подробные чертежи, спецификации, расчеты и технические решения по инженерным системам, архитектуре  и конструкциям здания. Мы стремимся предоставить заказчику все необходимое  для успешной и эффективной реализации проекта в соответствии с действующими стандартами и требованиями. 
                        .faq 
                            .faq-header 
                                .h5 Авторский надзор
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small  Осуществим контроль за реализацией проекта. 
                        .faq 
                            .faq-header 
                                .h5 Инженерные изысканий и обследования
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small  чтобы оценить его актуальное состояние, имеются ли какие-то повреждения несущих конструкций и неисправности в функционировании инженерных систем, обеспечена ли несущая способность грунтов в основании фундаментов здания.
                        .faq 
                            .faq-header 
                                .h5 Bim-проектирование/бим-моделирование
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small  объектов капитального строительства. Создадим информационную 3D-модель вашего будущего объекта для цифрового планирования проекта с учетом цены, времени и материалов строительства.
                        .faq 
                            .faq-header 
                                .h5 Девелопмент
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Оценим потенциал проекта, его инвестиционную привлекательность как актива. Проконтролируем все этапы проекта — от подбора земельного участка до продажи или аренды. 
                        .faq 
                            .faq-header 
                                .h5 Наружные внутриплощадочные <br>и внешнеплощадочные системы
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Выполняем проектирование наружных внутриплощадочных и внешнеплощадочных сетей
                .right(data-aos="fade-up" data-aos-delay="400")  
                    .faq-list 
                        .faq 
                            .faq-header 
                                .h5 Проектная документация (стадия П)
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Разработаем проектную документацию (стадия П). Подготовим все необходимые чертежи, расчеты и спецификации, а также технические решения по инженерным коммуникациям, архитектуре и конструкциям здания, всё для успешной реализации проекта согласно установленным нормам и требованиям.
                        .faq 
                            .faq-header 
                                .h5 Рабочая документации (стадия П и Р)
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Мы готовим всесторонне проработанную техническую документацию  для строительства. Наша команда разрабатывает подробные чертежи, спецификации, расчеты и технические решения по инженерным системам, архитектуре  и конструкциям здания. Мы стремимся предоставить заказчику все необходимое  для успешной и эффективной реализации проекта в соответствии с действующими стандартами и требованиями.
                        .faq 
                            .faq-header 
                                .h5 Архитектурные решения
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Разработаем концепцию здания, его планировочные решения, внешний вид и эстетические аспекты.
                        .faq 
                            .faq-header 
                                .h5 Генеральный план (Ген.план)
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small  При разработке генерального плана мы учитываем все строительные нормы  и предусматриваем наличие транспортной развязки, элементов озеленения, благоустройства и системы освещения на территории объекта. Кроме того, наш документ включает детальный план с описанием размещения сводных и инженерных систем.
                        .faq 
                            .faq-header 
                                .h5 Конструктивные и объемно-планировочные решения
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Проанализируем вашу задачу, будущий объект с функциональной, производственной стороны и предложим эффективное решение для долговечности и устойчивости конструкции.
                        .faq 
                            .faq-header 
                                .h5 Инженерные системы
                                .icon 
                                    include ./arrow.svg 
                            .faq-body    
                                .faq-body-icon 
                                    include ./faqicon.svg
                                .faq-body-content 
                                    .text-small Качественно спроектируем электрические сети, газовые магистрали, систему водоснабжения и канализации, отопительную и вентиляционную системами для бесперебойной и безопасной работы объекта.