.h1 {
    font-weight: 700;
    font-size: 66px;
    line-height: 80.57px;
    letter-spacing: 0%;

    &.displayed {
        font-family: "DISPLAYED";
    }
}

.h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61.04px;
    letter-spacing: 0%;
}

.h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42.72px;
    letter-spacing: 0%;
}

.h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.3px;
    letter-spacing: 0%;
}

.h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.3px;
    letter-spacing: 0%;
}

.text-larg {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.97px;
    letter-spacing: 0%;
}

.text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.53px;
    letter-spacing: 0%;
}


.text-small-line-auto {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.53px;
    letter-spacing: 0%;
}

.fs-16-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.53px;
    letter-spacing: 0%;
}

.fs-14-bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 17.09px;
    letter-spacing: 0%;
}

.fs-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.09px;
    letter-spacing: 0%;
}

.fs-14-line-auto {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.09px;
    letter-spacing: 0%;
}

.fs-12 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.65px;
    letter-spacing: 0%;
}

.fs-12-line-auto {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.65px;
    letter-spacing: 0%;
}

.button-light {
    border: 1px solid $blue;
    padding: 18px 35px;
    color: $blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.53px;
    letter-spacing: 0%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $blue;
        color: $white;
    }
}

.text-big-displayed {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.32px;
    letter-spacing: 0%;
    font-family: "DISPLAYED";
    color: $blue;
}


.button-accent {
    padding: 18px 35px;
    color: $white;
    background: $blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.53px;
    letter-spacing: 0%;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 6px 30px 0px rgba(7, 102, 154, 0.35);

    }
}

.arrow-btn {
    padding: 1rem;
    background-color: $blue;
    cursor: pointer;
    display: flex;
}

.btn-tel {
    border: 1px solid rgba(7, 102, 154, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;

}

.big-btn {
    padding: 25px;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.53px;
    letter-spacing: 0%;
    gap: .625rem;

    svg {
        transition: rotate 0.3s ease-in-out;
        rotate: 45deg;
    }

    &:hover {
        svg {
            rotate: 0deg;
        }
    }
}

.rigth-line-big {
    width: 1px;
    height: 100vw;
    background-color: $lightGray;
    position: absolute;
    right: 0;
}

.left-line-big {
    width: 1px;
    height: 100vw;
    background-color: $lightGray;
    position: absolute;
    left: 0;
    z-index: 1;
}

.center-line-big {
    width: 1px;
    height: 100dvh;
    max-height: 100dvh;
    background-color: $lightGray;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}



.faq {
    padding: 20px;
    border: 1px solid $blue;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;


    .faq-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .h5 {
            color: $blue;
        }

        svg {
            transition: all 0.3s ease-in-out;
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid $blue;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    max-height: 2.9375rem;

    &.active {
        background-color: $blue;

        .h5 {
            color: $white;
        }
    }

    &:hover {
        background-color: $blue;

        .h5 {
            color: $white;
        }
    }

    .h5 {
        color: $blue;
        transition: color 0.3s ease-in-out;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.0681rem;
        letter-spacing: 0%;
    }
}