.header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 3;
    overflow: hidden;

    .hedaer-container {
        padding: 30px 0;
        border-bottom: 1px solid $lightGray;

        .container {
            border-right: 1px solid $lightGray;

        }

        .header-logo {
            @media (max-width:1320px) {
                svg {
                    width: 132px;
                    height: 36px;
                }
            }
        }

        .header-content {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;

            @media (max-width:1320px) {
                display: flex;
                justify-content: space-between;
            }

            .header-center-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 31px;

                @media (max-width:1320px) {
                    gap: 18px;
                }

                ul {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    @media (max-width:1320px) {
                        gap: 1.25rem;
                    }

                    a {
                        position: relative;
                        padding-bottom: 5px;

                        @media (max-width:1320px) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17.09px;
                            letter-spacing: 0%;
                            padding-bottom: 0;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 1px;
                            background-color: $blue;
                            transition: width 0.3s ease-in-out;
                        }

                        &:hover {
                            color: rgba(7, 102, 154, 1);

                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }

            }

            .header-rigth-container {
                display: flex;
                gap: 31px;
                align-items: center;

                @media (max-width:1320px) {
                    gap: 17px;
                }

                .tel-link-text {
                    color: rgba(7, 102, 154, 1);
                }

                .button-light {

                    @media (max-width:1320px) {
                        display: none;
                    }

                    &.mobile-icon {
                        display: none;

                        @media (max-width:1320px) {
                            display: flex;
                            padding: 11px 11px 12px 12px;
                        }
                    }
                }

            }
        }
    }
}