doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='stylesheet' href='src/style/main.scss')
        linl(rel='stylesheet' href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    body.main-wrapper
        include ./src/components/header/header.pug
        main.flex-grow
            include ./src/components/mainBanner/index.pug
            include ./src/components/aboutUs/index.pug
            include ./src/components/gallery/index.pug
            include ./src/components/services/index.pug
            include ./src/components/downloadDock/index.pug
            include ./src/components/stages/index.pug
            include ./src/components/advantages/index.pug
            include ./src/components/cases/index.pug
            include ./src/components/bottomForm/index.pug
        footer.footer
            include ./src/components/modal/callback.pug
            include ./src/components/modal/orderProject.pug
            include ./src/components/footer/index.pug
        script(type='module' src='/main.js')
