.stages {
    padding-top: 200px;

    @media (max-width:1320px) {
        padding-top: 9.375rem;
    }

    @media (max-width:740px) {
        padding-top: 64px;
    }

    .stages-title {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width:1320px) {
            gap: 15px;
        }

        .line-title {
            width: 83px;
            height: 1px;
            background-color: $blue;

            @media (max-width:1320px) {
                width: 34px;
            }
        }
    }

    .stage-content {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 3.125rem;

        @media (max-width:1320px) {
            padding-top: 30px;
            gap: 30px;
        }

        @media (max-width:740px) {
            padding-top: 24px;
        }
    }

    .item {
        position: relative;
        z-index: 2;
        border: 1px solid rgba(7, 102, 154, 1);
        min-height: 200px;
        padding: 25px 137px 57px 137px;
        background-color: white;
        display: flex;
        gap: 91px;
        align-items: center;

        @media (max-width:1320px) {
            padding: 15px 30px 30px 64px;
            gap: 64px;
            min-height: 135px;
        }

        @media (max-width:740px) {
            padding: 8px 16px 16px 16px;
            min-height: auto;
            flex-direction: column;
            gap: 1rem;
            align-items: start;
        }

        .big-title {
            font-weight: 700;
            font-size: 130px;
            line-height: 158.69px;
            letter-spacing: 0%;
            color: $lightBlue;

            @media (max-width:1320px) {
                font-weight: 700;
                font-size: 65px;
                line-height: 79.35px;
                letter-spacing: 0%;
            }

            @media (max-width:740px) {
                font-weight: 700;
                font-size: 56px;
                line-height: 68.36px;
                letter-spacing: 0%;
            }

        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media (max-width:1320px) {
                gap: 10px;

                .text-larg {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19.6px;
                    letter-spacing: 0%;
                }
            }

            @media (max-width:740px) {
                gap: 8px;

                .h3 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21.97px;
                    letter-spacing: 0%;
                }
            }
        }
    }
}