.container.line-container
    .rigth-line-big
    .center-line-big
    .left-line-big
section.stages 
    .stages-container 
        .container
            .stages-title 
                .line-title 
                .h4 Этапы проектирования
            .stage-content 
                .item(data-aos="fade-up") 
                    .big-title 01
                    .text 
                        .h3 Составление техзадания
                        .text-larg Подготовка подробного и детального технического задания.
                .item(data-aos="fade-up") 
                    .big-title 02
                    .text 
                        .h3 Сбор и анализ исходных данных
                        .text-larg Сбор и изучение материалов, характеризующих запланированную конструкцию и выделенную под нее территорию.
                .item(data-aos="fade-up") 
                    .big-title 03
                    .text 
                        .h3 Проведение инженерных изысканий
                        .text-larg Проводятся геологические, геодезические, экологические и другие изыскания. Перечень необходимых работ определяется с учетом задания застройщика или техзаказчика.
                .item(data-aos="fade-up") 
                    .big-title 04
                    .text 
                        .h3 Проработка основных технических решений
                        .text-larg Для технологически сложных конструкций формируются главные схемы коммуникаций и сетей: электроснабжения, автоматизации.
                .item(data-aos="fade-up") 
                    .big-title 05
                    .text 
                        .h3 Подготовка проектной документации по разделам
                        .text-larg В соответствии с Постановлением Правительства РФ N 87 от 16.02.2008 с изменениями от 01.09.2022 г., утвержденные Постановлением Правительства РФ № 963 от 27.05.2022. разрабатывается проектная документация по разделам.
                .item(data-aos="fade-up") 
                    .big-title 06
                    .text 
                        .h3 Подготовка рабочей документации
                        .text-larg На основании проектной готовится рабочая документация - руководство для выполнения строительных и монтажных работ.
                .item(data-aos="fade-up") 
                    .big-title 07
                    .text 
                        .h3 Экспертиза проекта
                        .text-larg    Проверка опытными экспертами проекта на соответствие нормам, сводам правил законодательства РФ.