.container.line-container
    .rigth-line-big
    .center-line-big
    .left-line-big
section.main-banner
    .main-banner__wrapper
        .container
            .main-banner-container
                h1.h1.main-banner-container-title(data-aos="fade-right" data-aos-delay="200") Проектирование зданий и сооружений
                .main-banner-container-subtitle()
                    ul
                        li(data-aos-delay="400" data-aos="fade-left")
                            include ./icon.svg
                            p.text-larg Разрабатываем проектную документацию с гарантией <br> положительного заключения экспертизы
                        li(data-aos-delay="600" data-aos="fade-left")
                            include ./icon.svg
                            p.text-larg Сопровождаем до получения разрешения на строительство
            .banner-container-img(data-aos="fade-up" data-aos-delay="800"  )
                .big-btn(data-aos="fade-left" data-aos-delay="1000" ) Заказать проект
                    include ./arrow.svg
            .banner-container-img-mobile(data-aos="fade-up" data-aos-delay="800"  )
                .big-btn(data-aos="fade-left" data-aos-delay="1000" ) Заказать проект
                    include ./arrow.svg        