section.about-us
    .container
        .about-us-title 
            .line-title 
            .h4 О нас
        .about-us-content
            .about-us-content-left
                .item-rigth 
                    .item-rigth-container
                        .h1.displayed  10 лет
                        .text-small опыта работы над проектами разного уровня сложности.
                .item-center
                    .item-center-container
                        .h1.displayed  !{">"} 5 000 проектов
                        .text-small реализовано в разных сферах: от автозаправки до промышленных производственных зданий.
                .item-left
                    .item-left-container
                        .h1.displayed  100%
                        .text-small прохождение экспертизы с 1 раза за 10 дней.
            .about-us-content-right
                .about-us-content-right-title 
                    .text-larg Мы предоставляем проектирование “под ключ”, от проекта  до разрешения на строительство. Наш клиент взаимодействует с одним исполнителем на всех этапах. Данный подход экономит время и деньги, а также сокращает сроки.
                .about-us-content-right-text-bordered 
                    .text-big-displayed “Клиенты ценят нас за качество нашей работы и гарантию результата.”
                    .text-bottom
                        .text-small Директор
                        .text-small Фамилия И.О.


