section.advantages 
    .advantages-container 
        .container
            .advantages-title.h2(data-aos="fade-right" ) Преимущества работы с нами
            .advantages-content 
                .left 
                    .item.blue(data-aos="fade-right" data-aos-delay="300")
                        .text-item
                            .h4 Комплексное сопровождение «под ключ»
                            .text-larg Мы оказываем полную поддержку на всех этапах,<br> начиная с подачи заявки и заканчивая готовым проектом<br> и получением разрешения на строительство, чтобы<br> заказчику было максимально комфортно.
                    .item.light-blue(data-aos="fade-right" data-aos-delay="500")
                        .text-item
                            .h4 База проектных решений
                            .text-larg на которые уже получили положительное <br>заключение экспертизы.
                .right
                    .item.light-blue(data-aos="fade-left" data-aos-delay="400")
                        .text-item
                            .h4 Региональность
                            .text-larg Мы обладаем многолетним опытом работы <br> с проектами по всей территории России, что <br> позволяет разрабатывать проект для объекта  <br>с любой особенностью геолокации.
                    .item.blue(data-aos="fade-left" data-aos-delay="600")
                        .text-item
                            .h4 Гарантия результата
                            .text-larg Мы гарантируем полное выполнение всех<br> обязательств, которые мы принимаем на себя.
