$maxWidth: 1920;
$s1400: 87.5rem;
$s1280: 80rem;
$s1100: 68.75rem;
$s1000: 62.5rem;
$s970: 60.625rem;
$s850: 53.125rem;
$s640: 40rem;
$s540: 33.75rem;
$s340: 21.25rem;
$containerWidth: 72.5rem;
$zOverlay: 49;
$zModal: 51;
$zCenterContainer: 50;
$blue: rgba(7, 102, 154, 1);
$black: rgba(67, 66, 66, 1);
$white: white;
$lightBlue: rgba(236, 241, 248, 1);
$gray: rgba(114, 114, 113, 1);
$lightGray: rgba(242, 242, 242, 1);
