.bottom-form 
    .bottom-form-container 
        .container
            .h2 Рассчитаем стоимость <br> разработки вашего проекта  
            .content-container  
                .rigth-content
                    .form-item 
                        form(action="#").form-content
                            .input-container 
                                input(type="text" placeholder="Имя" name="name").input
                            .input-container 
                                input(type="text" placeholder="+7 (000) 000 00 00" name="phone").input.phone
                            button.button.button-accent Отправить 
                            .bottom-text 
                                p Нажимая на кнопку вы соглашаетесь <br> 
                                    span с  
                                        a.underline(href="http://") Политикой конфиденциальности  
                .left-content
                    .content 
                        .frame-content
                            .frame-context
                                .frame-text С гарантией положительного <br> заключения экспертизы
                                .frame-text С сопровождением<br> до разрешения на строительство
                        .building-content 
                            img(src="/images/building.png" alt="" srcset="")


