.advantages {
    padding-top: 200px;

    @media (max-width:1320px) {
        padding-top: 150px;
    }

    @media (max-width:740px) {
        padding-top: 64px;
    }

    .advantages-content {
        padding-top: 95px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width:1320px) {
            padding-top: 3.75rem;
        }

        @media (max-width:740px) {
            padding-top: 24px;
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        .right {
            padding-top: 158px;
            display: flex;
            flex-direction: column;
            gap: 100px;

            @media (max-width:740px) {
                padding-top: 0;
            }

            @media (max-width:740px) {
                margin-right: 0px;
                gap: 1rem;
                flex-direction: column-reverse

            }
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 100px;
            margin-right: 30px;

            @media (max-width:1320px) {
                gap: 60px;

            }

            @media (max-width:740px) {
                margin-right: 0px;
                gap: 1rem;
            }
        }

        .item {
            min-height: 250px;
            padding: 30px;
            display: flex;
            align-items: flex-end;

            @media (max-width:1320px) {
                padding: 15px;
                min-height: 200px;
            }

            @media (max-width:740px) {
                padding: 1rem;
            }

            .text-larg {
                line-height: 25.2px;

                @media (max-width:1320px) {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19.6px;
                    letter-spacing: 0%;
                }
            }

            &.blue {
                background-color: $blue ;
                color: white;
            }

            &.light-blue {
                background-color: $lightBlue;
            }

            .text-item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media (max-width:1320px) {
                    .h4 {
                        max-width: 239px;
                    }
                }

                @media (max-width:740px) {
                    gap: 6px;

                    .text-larg {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16.8px;
                        letter-spacing: 0%;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}