header.header 
    .container 
        .rigth-line-big
        .left-line-big
    .hedaer-container 
        .container 
            .header-content
                a(href="#").header-logo 
                    include ./header-logo.svg
                .header-center-container 
                    ul 
                        li 
                            a.text-small(href="#") О нас
                        li 
                            a.text-small(href="#") Наши услуги
                        li 
                            a.text-small(href="#") Преимущества
                        li 
                            a.text-small(href="#") Кейсы
                        li 
                            a.text-small(href="#")  Контакты       
                    .header-rigth-container 
                        a.tel-link-text.fs-16-bold(href="tel:+78003000000")  8 (800) 300-00-00
                        .button-light.open-order-btn  Обратный звонок 
                        .button-light.mobile-icon.open-order-btn    
                            include ./tel.svg
    .header-container-mobile 
        .container 
            .header-content-mobile 
                .header-btn 
                    span 
                    span 
                    span 
                a(href="#").heaedr-logo
                    include ./header-logo-mobile.svg
                .header-btn-mobile.open-order-btn      
                    .button-light.mobile-icon
                        include ./tel.svg     
.mobile-menu-container 
    .container
        .mobile-menu-container-content
            .top
                .h1  Меню
                ul 
                    li 
                        a(href="#") О нас
                    li 
                        a(href="#") Наши услуги
                    li 
                        a(href="#") Преимущества
                    li 
                        a(href="#") Кейсы
                    li 
                        a(href="#") Контакты
            .bottom  
                a.link-text(href="tel:+78003000000") 8 (800) 300-00-00
                .social-link    
                    a(href="#")
                        include ./wht.svg
                    a(href="#")
                        include ./telegram.svg     
