.container.line-container
    .rigth-line-big
    .center-line-big
    .left-line-big
section.gallery 
    .gallery-container 
        .container 
            .gallery-content 
                .left 
                .right(data-aos="fade-right" data-aos-delay="100")  
                    .h2 Мы проектируем:
                .left(data-aos="fade-left" data-aos-delay="200") 
                    img.small(src='/images/1.png')
                .right(data-aos="fade-right" data-aos-delay="300") 
                    img.big(src='/images/2.png')
                .left(data-aos="fade-left" data-aos-delay="400")  
                    img.small(src='/images/3.png')
                .right
                .left 
                .right(data-aos="fade-left" data-aos-delay="500")    
                    img.small(src='/images/4.png')
                .left(data-aos="fade-left" data-aos-delay="600")  
                    img.big(src='/images/5.png')
                .right(data-aos="fade-right" data-aos-delay="700")    
                    img.small(src='/images/6.png')    



