.container.line-container
    .rigth-line-big
    .center-line-big
    .left-line-big
section.gallery 
    .gallery-container 
        .container 
            .gallery-content 
                .left 
                .right(data-aos="fade-right" data-aos-delay="100")  
                    .h2 Мы проектируем:
                .left(data-aos="fade-left" data-aos-delay="200") 
                    .small
                        img(src='/images/1.png')
                        .text-title.h4 Торговые центры, комплексы
                .right(data-aos="fade-right" data-aos-delay="300") 
                    .big
                        img(src='/images/2.png')
                        .text-title.h4 Бизнес, офисные центры
                .left(data-aos="fade-left" data-aos-delay="400")  
                    .small
                        img(src='/images/3.png')
                        .text-title.h4 Жилые здания, районы
                .right
                .left 
                .right(data-aos="fade-left" data-aos-delay="500")    
                    .small
                        img(src='/images/4.png')
                        .text-title.h4 Медицинские учреждения
                .left(data-aos="fade-left" data-aos-delay="600")  
                    .big
                        img(src='/images/5.png') 
                        .text-title.h4 Промышленные, производственные здания, склады
                .right(data-aos="fade-right" data-aos-delay="700")    
                    .small
                        img(src='/images/6.png')  
                        .text-title.h4 Автозаправки   



