.about-us {
    padding-top: 12.5rem;
    position: relative;
    z-index:2 ;
    @media (max-width:1320px) {
        padding-top: 9.375rem;
    }

    @media (max-width:740px) {
        padding-top: 64px;
    }

    .about-us-title {
        display: flex;
        align-items: center;
        gap: 1.875rem;

        @media (max-width:740px) {
            gap: 15px;
        }

        .line-title {
            width: 83px;
            height: 1px;
            background-color: $blue;

            @media (max-width:740px) {
                width: 34px;
            }
        }
    }

    .about-us-content {
        padding-top: 3.125rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width:740px) {
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-top: 24px;
        }

        .h1.displayed {
            color: $blue;
            font-size: 2.8125rem;
        }

        .about-us-content-left {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            .h1.displayed {
                @media (max-width:1320px) {
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 35.4px;
                    letter-spacing: 0%;
                }
            }

            .text-small {
                @media (max-width:1320px) {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16.8px;
                    letter-spacing: 0%;
                    position: relative;
                    z-index: 4;
                }
            }

            .item-rigth-container {
                max-width: 12.6875rem;
                display: flex;
                flex-direction: column;
                gap: .625rem;

                @media (max-width:740px) {
                    gap: 8px;
                }
            }

            .item-center {
                display: flex;
                justify-content: center;

                @media (max-width:1320px) {
                    .text-small {
                        max-width: 244px;
                    }
                }

                @media (max-width:740px) {
                    justify-content: start;
                }
            }

            .item-center-container {
                max-width: 21.8125rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .625rem;

                @media (max-width:740px) {
                    gap: 8px;
                }
            }

            .item-left {
                display: flex;
                justify-content: end;

                @media (max-width:1320px) {
                    .text-small {
                        max-width: 132px;
                    }
                }

                @media (max-width:740px) {
                    justify-content: start;
                }
            }

            .item-left-container {
                max-width: 311px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                gap: .625rem;
                margin-right: 30px;

                @media (max-width:740px) {
                    gap: 8px;
                }
            }
        }

        .about-us-content-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 45px;

            .about-us-content-right-title {
                max-width: 493px;

                @media (max-width:1320px) {
                    .text-larg {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19.6px;
                        letter-spacing: 0%;
                    }
                }
            }

            .about-us-content-right-text-bordered {
                background-image: url('/images/frame.png');
                background-size: 100% 100%; // Scales image to fit container
                background-repeat: no-repeat; // Prevents image repetition
                background-position: center; //
                padding: 30px 28px;
                max-width: 533px;
                width: 100%;
                min-height: 158px;

                @media (max-width:1320px) {
                    max-width: 355px;
                    height: 130px;
                }

                .text-big-displayed {
                    @media (max-width:1320px) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 18.88px;
                        letter-spacing: 0%;
                    }
                }

                .text-bottom {
                    display: flex;
                    gap: 1.25rem;
                    padding-top: 20px;

                    @media (max-width:1320px) {
                        gap: 15px;
                        padding-top: 15px;
                    }
                }

            }
        }
    }
}