.footer-container 
    .container 
        .footer-container-top 
            a.logo(href="#") 
                include ./header-logo.svg
            .footer-center-container 
                ul 
                    li 
                        a.text-small(href="#") О нас
                    li 
                        a.text-small(href="#") Наши услуги
                    li 
                        a.text-small(href="#") Преимущества
                    li 
                        a.text-small(href="#") Кейсы
                    li 
                        a.text-small(href="#")  Контакты       
                .header-rigth-container 
                    a.tel-link-text.fs-16-bold(href="tel:+78003000000")  8 (800) 300-00-00
                    .button-light Обратный звонок  
        .footer-container-middle 
            .left
                .item
                    .text-small
                        .bold ИНН:
                        p 0000000000
                    .text-small
                        .bold ИНН:
                        p 0000000000 
                    .text-small
                        .bold ИНН:
                        p 0000000000
                .item
                    .text-small
                        .bold Юридический адрес:
                    .text-small 000000, город Москва 
                    .text-small Адрес, улица и дом
            .right 
                .text-small
                    .bold Телефон:
                    a(href="#") 8 (800) 300-00-00
                .text-small
                    .bold Почта:
                    a(href="#") inform@proektirovanie.ru
                .icon 
                    a(href="http://")
                        include ./wt.svg  
                    a(href="http://")
                        include ./tg.svg           
        .footer-container-bottom 
            .fs-14 ©️ 2024 
            .fs-14 Политика конфиденциальности
            .fs-14 Дизайнер: Андреева Анастасия