.main-banner {
    padding-top: 218px;
    @media (max-width:1320px) {
        padding-top: 160px;
    }
    .main-banner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .main-banner-container-subtitle {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1.875rem;
                @media (max-width:1320px) {
                    gap: .9375rem;
                }
                li {
                    display: flex;
                    align-items: start;
                    gap: .625rem;
                    svg{ 
                        @media (max-width:1320px) {
                            width: 14px;
                            height: 14px;
                        }
                    }
                    .text-larg {
                        line-height: 25.2px;
                        color: rgba(67, 66, 66, 1);

                        @media (max-width:1320px) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19.6px;
                            letter-spacing: 0%;
                        }
                    }
                }
            }
        }


    }

    .banner-container-img {
        margin-top: 3.125rem;
        background-image: url("/images/banner.png");
        padding: 30px 48px;
        aspect-ratio: 1320/400;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .big-btn {
            max-width: 307px;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
        }
    }
}